@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url(./assets/variable.css);
body {
    margin: 0;
    font-family: "Mulish", sans-serif;
    background-color: var(--clr-main-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
