.name {
    padding: 1rem auto !important;
    text-align: center;
    font-size: 0.8rem;
    font-weight: lighter;
    color: var(--clr-gray-text);
    text-align: center;
}
.body {
    background-color: var(--clr-box);
    display: flex;
    align-items: center;
}
